// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #0054e9;
  --ion-color-secondary: #00c2ff;
  --ion-color-light: #f4f5f8;
  --ion-color-dark: #222428;
  --ion-border-radius: 16px;
}